# Python
__pycache__/
*.py[cod]
*$py.class

# Configuration
config.py

# Environment
.env
.venv
env/
venv/ 
node_modules
cache/
jobs/
vue-frontend/node_modules
vue-frontend/.env
vue-frontend/.env.local
vue-frontend/.env.development.local
vue-frontend/.env.test.local
vue-frontend/.env.production.local
vue-frontend/.env.development
vue-frontend/.env.test
vue-frontend/.env.production

.DS_Store
notizen/
8_damian42639_export/
8_damian42639_export.tar

# Rate limiting timestamp file
.rate_limit_timestamp